@import "~bootswatch/dist/cosmo/bootstrap.css";
@import "~prismjs/themes/prism-okaidia.css";

.vh-75 {
  height: 75vh!important;
}
.slide h1 {
  font-weight: bold;
}
.slide h2 {
  font-weight: lighter;
}
.slide ul {
  font-size: 24px;
}
.slide ul li {
  margin: 20px 0;
}
.slide pre {
  font-size: 24px;
}
